/******************************************************************************
TABLE OF CONTENTS

AUTHOR            - Richard Myatt
DATE              - 27 September 2017


GENERAL STYLING                - html elements and shared styles
VERTICAL MENU                  - styling for vertical menu
INFO ICON AND PANEL            - styling for info icon and panel
FOOTER                         - styling for footer


COLOUR PALETTE

white                 - background for header, article and footer
silver                - body background appears as borders
lightblue             - border arround menu
#eee                  - background colour of menu links
#ccc                  - background colour of menu hover
#4CAF50               - background colour of menu active
rgb(230, 230, 230)    - background for info panel
rgb(100, 100, 100)    - advisory text at base of info panel


Note: https://autoprefixer.github.io was used to add the prefixed additions in
      the code below.
******************************************************************************/



/******************************************************************************
  General styling begins
******************************************************************************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: silver;
  font-size: 1.2em;
}

header {
  font-family: 'Capriola';
  width: 90vw;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 1.5vw;
  height: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

nav {
  background-color: white;
  width: 90vw;
  padding-top: 40px;
  padding-bottom: 3px;
  margin: 0 auto;
}

article {
  width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: white;
}

hr {
  width: 85vw;
}

section {
  margin: 2% 14%;
}

footer {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  background-color: white;
  height: 150px;
}

.reset-link {
  text-align: right;
}
/* General styling ends */


/******************************************************************************
 Vertical menu begins
******************************************************************************/
nav div {
  border: 2px solid lightblue;
}

.vertical-menu {
    float: left;
    font-size: 0.8em;
    margin-top: 0px;
    margin: 2% 14%;
    width: 280px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    margin: 2px;
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
/* Vertical menu ends */


/******************************************************************************
 Info icon and panel begins
******************************************************************************/
/* This class is provided by googles material-icons */
p .material-icons {
  font-size: 50px;
}

section.info-icon-and-panel {
  text-align: right;
}

#information-panel-text {
  display: none;
	overflow: hidden;
  padding: 20px;
  text-align: justify;
  border-radius: 15px;
  background-color: rgb(230, 230, 230);
  color: rgb(100, 100, 100);
  font-size: 16px;
}

.advisory-text {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}
/* Info icon and panel ends */


/******************************************************************************
 Footer begins
******************************************************************************/
.footnote {
  position: absolute;
  right: 5vw;
  bottom: 0px;
  font-size: 0.7em;
}

.divider {
  position: absolute;
  top: 0;
  left: 2.5vw;
}
/* Footer ends */
